/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* ==========================================================================
GENERAL STYLES
========================================================================== */
body {
  text-align: center;
  padding: 0;
  background-color: #cacaf8;
  width: 100%;
}

.underline{
  text-decoration: underline;
}

.content-wrapper {
  width: 90%;
  padding: 0 5%;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h6,
header nav ul a,
.project-links a {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  /*font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;*/
  /*font-family: "Alata", sans-serif;
  font-weight: 400;*/
  font-style: normal;
  color: #152A3E;
  opacity: 1.0;
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
    margin: 40px 0;
  }

p,
ul,
a {
  font-family: "Hedvig Letters Serif", serif;
  font-style: normal;
  font-weight: 450;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  color: #152A3E;
  text-decoration: none;
  opacity: 1.0;
}

figure {
  margin: 0;
}

img {
  margin: 0;
}

/*---NOTIFICATIONS BAR---*/
.notification-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: #FFFFFF;
  text-align: center;
  color: black;
  font-size: 0.9em;
  opacity: 1.0;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
}

.notification-bar p {
  padding: 0;
  margin: 0;
  opacity: 1.0;
}

.close {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}

.close:hover {
  font-size: 3em;
}

.hide {
  height: 0;
}

/*--_BASE HEADER STYLES-_-*/
header {
  /*--for notifications bar--*/
  margin-top: 40px;
}

header .content-wrapper {
  display: flex;
  flex-direction: column;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  text-transform: uppercase;
}


header nav ul li a {
  letter-spacing: 0.008em;
  /*---for increased readability---*/
  font-weight: 600;
  /*---599=much thinner appearance---*/
  font-size: 0.95em;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header .header2 {
  background: #152A3E;
  color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

header .header2 .header-icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header .header2 .header-icons a {
  font-size: 2em;
  padding-left: 0.5em;
  color: white;
}

header .header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  /*---for increased readability---*/
  font-weight: 550;
  color: white;
}

header h2 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.05em;
  /*---for increased readability---*/
  color: white;
  padding: 0.25em 0;
  text-align: center;
  border: dotted 2px white;
}

header h4 {
  color: white;
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 800;
  line-height: 1.5em;
  letter-spacing: 0.075em;
  /*---for increased readability---*/
}

/* ==========================================================================
MOBILE STYLES
========================================================================== */
/*---HEADER MOBILE STYLES---*/
header nav ul {
  margin: 20px 0;
}

header .header2 {
  padding: 2em 3em;
}

header .header2 .header-icons a {
  font-size: 1.75em;
  padding-left: 0.5em;
  color: white;
}

header h1 {
  margin: 20px 0;
}

header h2 {
  margin-top: 10px;
  font-size: 2em;
}

header h4 {
  margin: 0;
  font-size: 1em;
}

/*---PROJECT MOBILE STYLES---*/
#projects {
  border-bottom: 2px dotted #a4a4f5;
}

#projects h2 {
  margin: 40px 0;
}

#projects .projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#projects .projects-container .project-card {
  max-width: 350px;
  padding: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: #ffffff;
  border: 0.1em black solid;
  border-radius: 1em;
  margin: 0 5px 60px 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1), 0 23px 30px rgba(17, 24, 39, .2);
}

#projects .project-card figure {
  margin-top: 1em;
  /*---for uniform sizing---*/
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 0.1em black solid;
  display: flex;
  justify-content: center;
}

#projects img {
  width: 100%;
  height: 100%;
}


#projects h3 a {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

#projects h3 {
  margin: 30px 0;
  font-size: 2em;
  text-decoration: underline;
}

#projects .project-card h3 {
  /*---for Mobile landscape layout---*/
  width: 100%;
}

#projects p {
  margin: 0;
  text-align: left;
  line-height: 1.5em;
}

#projects .tools {
  margin-top: 30px;
}

#projects .tools p span {
  font-weight: bold;
}

#projects .project-links {
  margin: 2em 0 1em 0;
  width: 100%;
  text-align: center;
}

#projects .project-links a {
  margin: 0 0.25em;
  border-radius: 0.5em;
  padding: 0.2em 0.7em;
  border: 1.5px #152A3E solid;
  font-size: 1em;
}

#projects a i {
  padding-right: 0.5em;
}

#projects .sticky .tools a:hover {
  font-weight: 600;
}

/*---SKILLS MOBILE STYLES---*/
#skills {
  border-bottom: 2px dotted #a4a4f5;
  background: #d2d2fc;
}

#skills .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills .tool-block {
  width: 100%;
}

#skills .block {
  margin-bottom: 50px;
  /* for landscape mobile view */
  display:flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* for landscape mobile view */
#skills .block div {
  width: 250px; 
  padding: 0 1em;
}

#skills h3 {
  background: #152A3E;
  padding: 7px 0;
  color: #cacaf8;
  width: 100%;
  font-weight: 700;
  margin: 0 0 20px 0;
}

#skills h3 i {
  padding-left: 10px;
  color: #cacaf8;
}

#skills .tool-block .block p {
  font-weight: bold;
}

/*---ABOUT MOBILE STYLES---*/
#about {
  display: flex;
  border-bottom: 2px dotted #a4a4f5;
}

#about .content-wrapper {
  margin: 0 0 40px 0;
}

#about .about-wrapper2 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#about figure {
  width: 100%;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: #a4a4f5 2px solid;
}

#about img,
#about h3,
#about h4{
  width: 100%;
}

#about h4 {
  margin: 40px 40px 20px 40px;
  font-size: 1.25em;
  max-width: 300px;
}

#about .about-content2 {
  text-align: center;
}

/*---FOOTER MOBILE STYLES---*/
footer {
  background: #d2d2fc;
}

footer .content-wrapper {
  /*---consistent with general .content-wrapper---*/
  padding: 40px 5%;
}

footer h2 {
  margin: 10px 0 50px 0;
}

footer .footer-content {
  margin-top: 40px;
  /* for mobile landscape view */
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

footer .hire,
footer .follow,
footer .meet {
  margin-bottom: 30px;
  width:300px;
}

footer h3 {
  margin: 20px 0;
}

footer .hire i {
  /* font-weight 501 changes appearance */
  font-weight: 500;
  padding-left: 15px;
}

footer .hire address {
  margin-top: 10px;
  margin-bottom: 40px;
  text-decoration: underline;
}

footer .follow p {
  /*icons sizing and spacing*/
  font-size: 1.5em;
  word-spacing: 1em;
}

footer .acknowledgement {
  margin: 60px 0 40px 0;
  border: 2px dotted #152A3E;
  padding: 1em;
  font-size: 0.75em;
}

footer .footer-bottom p {
  font-weight: 600;
  font-size: 0.8em;
}


/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

/* ========================================================================== 
TABLET STYLES
========================================================================== */

@media only screen and (min-width: 768px) {

  /*---GENERAL TABLET STYLES---*/
  h2 {
    font-size: 4em;
  }

  /*---HEADER TABLET STYLES---*/
  header nav ul {
    margin: 25px 0;
  }

  header .header2 {
    padding: 3em;
  }

  header .header2 .header-icons a {
    padding-left: 1em;
  }

  header h1 {
    font-size: 4em;
  }

  header h2 {
    padding: 0.25em;
    font-size: 2.5em;
  }

  header h4{
    margin-bottom: 10px;
  }


  /*---PROJECTS TABLET STYLES---*/
  #projects .projects-container {
    width: 100%;
    gap: 2%;
  }

  #projects .projects-container .project-card {
    width: 39%;
    margin: 0 0 60px 0; /* to reset from mobile landscape view*/
  }

  /*---SKILLS TABLET STYLES---*/
  #skills .tool-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
  }

  #skills .content-wrapper .tool-block .block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 60px;
    max-width: 700px;
  }

  #skills .tool-block .block div {
    width: 40%;
  }

  /*---ABOUT TABLET STYLES---*/
  #about .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about h2 {
    margin: 50px 0 20px 0;
  }

  #about h4 {
    margin: 0 0 50px 0;
    order: 1;
    max-width: none; /* to correct from mobile landscape */
  }

  #about .about-wrapper2 {
    margin-bottom: 50px;
    width: 100%;
    gap: 4%;
  }

  #about figure {
    order: 2;
  }

  #about .about-content2 {
    height: 360px;
    width: 310px;
    order: 3;
    text-align: left;
  }

  #about .about-content2 p {
    margin: 0;
  }

  /*---FOOTER TABLET STYLES---*/
  footer .footer-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  footer .footer-content div {
    width: 35%;
    margin: 0 15px 20px 15px;
  }

  footer h3 {
    margin: 0 0 20px 0;
  }

  footer .follow p {
    /*icons sizing and spacing*/
    font-size: 1.75em;
    margin: 16px;
  }

  footer .acknowledgement {
    margin: 20px 0 60px 0;
  }
}

/* ==========================================================================
DESKTOP STYLES
========================================================================== */

@media only screen and (min-width: 1200px) {

  /*---GENERAL DESKTOP STYLES---*/
  header .content-wrapper,
  #projects .content-wrapper,
  #skills .content-wrapper {
    max-width: 1600px;
  }

  header,
  #projects,
  #about,
  #skills {
    display: flex;
    justify-content: center;
  }

  /*---HEADER DESKTOP STYLES---*/
  header nav ul {
    margin: 30px 0;
    width: 50%;
    margin-left: 50%;
    font-size: 1.25em;
  }


  header h1 {
    font-size: 4.5em;
    margin: 10px 0 30px 0;
  }

  header .header2 .header-icons a {
    font-size: 2.75em;
  }

  header h2 {
    margin: 0;
    font-size: 3em;
  }

  header h4 {
    margin: 60px 0 40px 0;
    font-size: 1.25em;
  }

  /*---PROJECTS DESKTOP STYLES---*/
  #projects .content-wrapper {
    max-width: 1600px;
  }

  #projects .projects-container .project-card {
    width: 25%;
    margin: 0 0 100px 0;
  }

  /*---SKILLS DESKTOP STYLES---*/
  #skills h2 {
    margin: 60px 0 40px 0;
  }

  #skills h3 {
    margin-bottom: 30px;
  }

  #skills .content-wrapper .tool-block .block {
    max-width: 900px;
  }

  #skills .tool-block .block div {
    width: 33%;
  }

  /*---ABOUT DESKTOP STYLES---*/
  #about .content-wrapper {
    margin: 0;
    max-width: 1600px;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 0;
  }

  #about h4 {
    margin: 0 0 40px 0;
    font-size: 1.5em;
  }

  #about .about-wrapper2 {
    margin-bottom: 100px;
  }


  /*---FOOTER DESKTOP STYLES---*/
  footer {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  footer .content-wrapper {
    max-width: 1600px;
  }

  footer .footer-content div {
    margin: 0 25px 25px 25px;
  }

  footer h3 {
    font-size: 1.5em;
  }

  footer .follow p {
    font-size: 2em;
    margin: 16px;
  }

  footer .footer-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  footer .acknowledgement {
    margin: 20px 0 40px 0;
    font-size: 0.8em;
    max-width: 1450px;
    padding: 1em 0.5em;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}